

.comment-reply>form {
    width: 100%;
}

.comment-reply>form>input {
    width: 100%;
}

.comment-reply>form>button {
    display: none;
}

.action-numbers {
    display: flex;
}

.action-numbers>div {
    margin-left: 20px;
    font-weight: 600;
    color: gray;
    text-transform: capitalize;
}